@import url(https://fonts.google.com/specimen/Roboto?query=robo#standard-styles);

*{
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body,
html {
    background-color: #000;
    color: #fff;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}